os
discord
random
dotenv import load_dotenv
datetime import datetime
discord.ext import commands
selenium import webdriver
time import sleep
random
bs4
requests
math
discord.ext.commands
playsound
gtts
ffmpeg
string
stat